@model Product
<div class="bg-primary panel-body"></div>
<div asp-validation-summary="All" class="text-danger"></div>
<h2>Add or Update Product</h2>
<h3>Add</h3>
<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
<form asp-action="AddProduct" method="post">
    <div class="form-group">
        <label asp-for="Name">Product Name:</label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ManufactureEmail">Email:</label>
        <input asp-for="ManufactureEmail" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ManufacturePhone">Phone number</label>
        <input asp-for="ManufacturePhone" class="form-control"/>
    </div>
    <div>
     <input asp-for="ProduceDate" class="form-control" />
    </div>
    <button type="submit">Add</button>
</form>

<h3>Update</h3>
<h4>Enter the value you want to change, if not leave it empty:</h4>
<form  asp-action="UpdateProduct" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ManufacturePhone">Phone:</label>
        <input asp-for="ManufacturePhone" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable">Availability:</label>
        <input asp-for="IsAvailable" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ProduceDate">Date:</label>
        <input asp-for="ProduceDate" class="form-control"/>
    </div>
    <button type="submit">Update</button>
</form>
 
        <h3>Delete</h3>
        <h4>Enter the Name & Phone number of the product you want to delete: </h4>
        