@model IQueryable<Product>
@{
    ViewData["Title"] = "Home Page";
}
@{
    foreach(Product pr in Model)
    {
        <div>
        <br />
        <h3>@pr.Name</h3>
        <h4>@pr.ManufactureEmail</h4>
        <h4>@pr.ManufacturePhone</h4>
        <h5>@pr.ProduceDate</h5>
        </div>
    }
}


